body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


.main{
    flex-wrap: wrap;
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    position: sticky;
    border-bottom: 2px solid rgba(238, 238, 238, 1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
    top: 0;
    left: 0;
    height: 80px;
}
.main >img{
    width: 220px;
}
.main >ul {
    margin-top: 20px;
    display: flex;
    width: 55%;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 15px;   
    
}
.main>ul>li::after{
    content: '';
    display:block;
    width: 0px;
    height: 1px;
    background-color: green;
}
.main>ul>li:hover::after,::before{
    
    width: 55px;
    transition: 1s;
    
}
.main>ul>li:hover {
    cursor: pointer;
}

#home {
    color: rgb(26, 117,187,1);
}
.blue{
    background-color: rgba(13, 109, 183,1);
    color: white;
    border-radius: 10px;
    border-color: rgb(13, 109,183,1);
    width: 10%;
    height: 35px;
}
.green{
    background-color: rgb(141, 198, 63,1);
    color: white;
    border-radius: 10px;
    border-color: rgb(141, 198,63,1);
    width: 10%;
    height: 35px;
    
}
.one{
    display: flex;
    margin-top: 30px;
    text-align: center;
    flex-direction: row;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    
    
    
}
.top > img{
    width: 15px;

    
}
.top{
    height: 25px;
    padding-top:3px ;
    padding-left: 30px;
    background-color: rgba(238,238, 238,1);
    font-size: 12px;
}
.two {
    flex-direction: row;
    
    
}
.three {
    
    font-size: 2.5em;
    font-weight: bold;
}
#green {
    color: green;
    font-weight: bold;
}
.one >img {
    width: 75%;
    height: 600px;
    
}
#four {
    font-size: 20px;
}
h2 {
    /* font-weight: bold; */
    font-size: 2em;
    text-align: start;
    padding-left: 40px;
}
.more {
    /* border: 2px solid red; */
    /* height: 60px; */

}
.more > button {
    border-radius: 8px;
    margin-top: 8px;
    margin-right: 600px;
    margin-left: 15px;
    width: 180px;
    height: 50px;
    font-size: 12px;

}
.fa-solid fa-arrow-right {
    width: 10px;

}
.container {
    flex-wrap: wrap;
    width: 100%;
    /* background-color: aqua; */
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;

}
.first {
    cursor: pointer;
    margin-right: 30px;
    background-color: rgba(240, 252, 219, 1);
    width: 200px;
    height: 130px;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
    
    
}
.second {
    cursor: pointer;
    margin-right: 30px;
    background-color: rgba(240, 252, 219, 1);
    width: 180px;
    height: 130px;
    padding: 20px;
    border-radius: 7px;
    text-align: center;
}
.third {
    cursor: pointer;
    margin-right: 30px;
    background-color: rgba(240, 252, 219, 1);
    width: 180px;
    height: 160px;
    padding: 20px;
    border-radius: 7px;
    text-align: center;

}
.forth {
    cursor: pointer;
    margin-right: 30px;
    background-color: rgba(240, 252, 219, 1);
    width: 180px;
    height: 160px;
    padding: 20px;
    border-radius: 7px;
    text-align: center;
}
.fifth {
    cursor: pointer;
    margin-right: 30px;
    background-color: rgba(240, 252, 219, 1);
    width: 180px;
    height: 130px;
    padding: 20px;
    border-radius: 7px;
    text-align: center;
}
.sixth {
    cursor: pointer;
    background-color: rgba(240, 252, 219, 1);
    width: 180px;
    height: 130px;
    padding: 20px;
    border-radius: 7px;
    text-align: center;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    text-transform: capitalize;
}

.main-botton {
    position: relative;
    /* background-color: black;
    opacity: .7; */
    width: 100%;
    /* border: 2px solid red; */
    display: flex;
    justify-content:space-evenly;
    margin-top: 20px;
    margin-left: 20px;
    /* height: 600px; */
    padding-bottom:80px ;
    
}
h4 {
    font-weight: bold;
    margin: 0px;
}

.oola {
    position: absolute;
width: 415px;
background-color: rgb(141, 198, 63,1);
color: #ffffff;
font-size: 20px;
border-radius: 10px;
padding-right: 30px;
height: 41px;

}



.up {
    background-color: black;
    opacity: 1.9;
    margin-left: 30px;
    width: 450px;
    cursor: pointer;
    border-radius: 10px;
    background-image: url("images/saylani1.jpg");
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: center;
    height:300px;
    padding-top: 225px;
    padding-left: 20px;
    /* padding-right: 10px; */
    /* background-color: black; */
    color: #ffffff;
    
    
}
.mid {
    background-color: black;
    opacity: 1.9;
    width: 450px;
    cursor: pointer;
    border-radius: 15px;
    background-image: url("images/saylani3.jpg");
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: center;
    height:300px;
    padding-top: 225px;
    padding-left: 20px;
    /* padding-right: 12px; */
    color: #ffffff;

}
.last {
    background-color: rgb(0, 0, 0,);
    opacity: 1.9;
    width: 450px;
    cursor: pointer;
    border-radius: 10px;
    background-image: url("images/saylani2.jpg");
    background-repeat: no-repeat;
    background-size: 450px;
    background-position: center;
    height: 300px ;
    padding-top: 225px;
    padding-left: 20px;
    /* padding-right: 12px; */
    color: #ffffff;
}

.element {
    background-color: black;
    opacity: .9;
    height: 100%;
    width: 100%;
}

footer {
    position: relative;
    width: 100%;
    height: 100%;
    background-color:rgb(66, 66,66);
    /* color: rgba(0, 0, 0, 0.85); */
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    content: " ";
    display: block;
    opacity: .8;
    
}
.row {
    /* border: 1px solid red; */
    flex-wrap: wrap;
    width: 86%;
    margin: auto;
    border-bottom:1px solid;
    border-bottom-color: rgb(66, 66, 66);
    /* height: 800px; */
    display: flex;
    /* background-color: blue; */
    justify-content: space-between;
   
}
.logomain {
    
    /* background-color: brown; */
    /* border: 2px solid blue; */
    width: 270px;
    padding-right: 30px;
    margin-right: 40px;
}
.logo > img {
    width: 350px;
    padding: 30px;
}
.icon-main {
    padding-left: 50px;
}
.icon-main > img {
    width: 40px;
    border-radius: 5px;   
}
.about {
    /* border: 2px solid purple; */
    width: 170px;
   margin-left: 10px;
   margin-top: 40px;
}
.about > ul > li {
    color: #ffffff;
    font-size: 17px;
    list-style-type: none;
}
.about > h4 {
    color: #ffffff;
    padding-left: 30px;
    font-size: 25px;
    font-weight: bold;
}
.explore{
    margin-right: 50px;
    width: 130px;
   margin-top: 40px;
  
    /* background-color: red; */
}
.explore > ul > li {
    color: #ffffff;
    font-size: 17px;
    list-style-type: none;
}
.explore > h4 {
    color: #ffffff;
    padding-left: 30px;
    font-size: 25px;
    font-weight: bold;
}
.contact {
    color: #ffffff;
   margin-top: 40px;
    width: 200px;
    margin-right: 120px;
    font-size: 12px;
    /* background-color: purple; */
}
.contact > h4 {
    font-size: 25px;
    font-weight: bold;
}
.approved {
    border-bottom-width:290px ;
    border-bottom:1px solid ;
    border-bottom-color:  rgb(66, 66,66);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    width: 86%;
    margin: auto;
    /* border: 1px solid red; */
    height: 150px;
}
.approved > div > img {
    /* background-color: blueviolet; */
    margin-left: 80px;
    width: 200px;
}
.address {
     margin: auto;
    width: 80%;
    margin-top: 20px;
    /* border: 1px solid blue; */
    text-align: center;
    font-size: 15px;
    margin-right: 110px;
    color: #ffffff;
}
.copy {
    margin: auto;
    padding-top: 10px;
    padding-left: 60px;
    width: 86%;
    /* margin-left: 60px; */
    border-top: 1px solid;
    border-top-color:rgb(66, 66, 66) ;
    text-align: center;
    font-size: 15px;
    margin-right: 105px;
    color: #ffffff;
}


@media only screen and (max-width: 600px){
    body {
        margin: 0px;
        padding: 0px;
    }
    .main{
        /* flex-wrap: wrap; */
        background-color: #ffffff;
        width: 100%;
        /* padding: 10px; */
        position: sticky;
        /* border-bottom: 2px solid rgba(238, 238, 238, 1); */
        /* display: flex; */
        /* justify-content: space-evenly; */
        /* align-items: center; */
        /* z-index: 10; */
        /* top: 0; */
        /* left: 0; */
        height: 400px;
    }
    .main >img {
        width: 300px;
    }
    .main > ul {
        margin: auto;
        /* border: 1px solid red; */
        /* height: 200px; */
        display: block;
        margin-left: 60px;
        margin-top: 10px;
        width: 300px;
        font-size: 23px;   
        font-weight: bold;
        letter-spacing: 1x;
        word-spacing: 2px;
        
    }
    
    .blue,.green {
        display: none;
    }
    .one > img {
        display: none;
    }
    .two {
        flex-direction: column;
        
        
    }
    .three {
        width: 250px;
        /* border: 1px solid red; */
        text-align: start;
        padding-left: 20px; 
        margin-right: 15px;
        font-size: 1.8em;
        font-weight: bold;
    }
    h2 {
        width: 320px;
        border: 1px solid red;
        padding-left: 20px;
        font-weight: bold;
        font-size: 1.2em;
        text-align:left;
        padding-left: 40px;
    }
    #four {
        border: 1px solid red;
        width: 200px;
        height: 60px;
        font-size: 12px;
        text-align: left;
    }
    .container {
        flex-wrap: wrap;
        width: 100%;
        /* background-color: aqua; */
        margin-top: 70px;
        display:block;
        justify-content:center;
        align-items: center;
        /* height: 200px; */
    }
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-top: 50px;
        text-transform: capitalize;
    }
    .first {
        /* cursor: pointer; */
        margin-bottom: 15px;
        margin-right: 20px;
        background-color: rgba(240, 252, 219, 1);
        width: 360px;
        height: 130px;
        padding: 10px;
        border-radius: 7px;
        text-align: center;
    }
    .second {
        margin-bottom: 15px;
        margin-right: 30px;
        background-color: rgba(240, 252, 219, 1);
        width: 360px;
        height: 130px;
        padding: 20px;
        border-radius: 7px;
        text-align: center;
    }
    .third {
        margin-bottom: 15px;
        margin-right: 30px;
        background-color: rgba(240, 252, 219, 1);
        width: 360px;
        height: 160px;
        padding: 20px;
        border-radius: 7px;
        text-align: center;
    
    }
    .forth {
        margin-bottom: 15px;
        margin-right: 30px;
        background-color: rgba(240, 252, 219, 1);
        width: 360px;
        height: 160px;
        padding: 20px;
        border-radius: 7px;
        text-align: center;
    }
    .fifth {
        margin-bottom: 15px;
        margin-right: 30px;
        background-color: rgba(240, 252, 219, 1);
        width: 360px;
        height: 130px;
        padding: 20px;
        border-radius: 7px;
        text-align: center;
    }
    .sixth {
        margin-bottom: 15px;
        background-color: rgba(240, 252, 219, 1);
        width: 360px;
        height: 130px;
        padding: 20px;
        border-radius: 7px;
        text-align: center;
    }
    .main-botton {
        margin: auto;
        width: 360px;
        /* border: 2px solid red; */
        display: block;
        
        margin-top: 750px;
       
        height: 850px;
        /* padding-bottom:80px ; */
        
    
    }
    .oola {
        width: 330px;
        background-color: rgb(141, 198, 63,1);
        color: #ffffff;
        font-size: 20px;
        border-radius: 10px;
        }
        
        
        .up {
            margin: 0 auto;
            /* margin-top: 10px; */
            width: 360px;
            border-radius: 10px;
            background-image: url("images/saylani1.jpg");
            background-repeat: no-repeat;
            background-size: 400px;
            background-position: center;
            height:270px;
            padding-top: 190px;
            padding-left: 12px;
            /* padding-right: 10px; */
            /* background-color: black; */
            color: #ffffff;
            
            
        }
        .mid {
            margin-top: 20px;
            width: 360px;
            border-radius: 15px;
            background-image: url("images/saylani3.jpg");
            background-repeat: no-repeat;
            background-size: 400px;
            background-position: center;
            height:270px;
            padding-top: 190px;
            padding-left: 12px;
            padding-right: 12px;
            color: #ffffff;
        
        }
        .last {
            width: 360px;
            margin-top: 20px;
            border-radius: 10px;
            background-image: url("images/saylani2.jpg");
            background-repeat: no-repeat;
            background-size: 400px;
            background-position: center;
            height:270px;
            padding-top: 190px;
            padding-left: 12px;
            padding-right: 12px;
            color: #ffffff;
        }
        .row {
            /* border: 1px solid red; */
    
            margin-top: 20px;
            border-bottom:1px solid;
            border-bottom-color: rgb(66, 66, 66);
            display: block;
           
        }
        .logo > img {
            width: 320px;
            padding: 20px;
            
        }
        .icon-main {
            padding-left: 80px;
            /* border: 2px solid red; */
        }
        .icon-main > img {
            /* border: 2px solid red; */
            width: 37px;
             border-radius: 5px; 
        
        }
        .logomain {
            /* border: 2px solid blue; */
            width: 270px;
            padding-right: 0px;
            margin-right: 50px;
        }
        .about {
            /* border: 2px solid purple; */
            width: 170px;
           margin-left: 60px;
           margin-top: 40px;
        }
        .about > ul > li {
            text-align: center;
            color: #ffffff;
            font-size: 17px;
            list-style-type: none;
        
        }
        .about > h4 {
            text-align: center;
            padding-bottom: 15px;
            color: #ffffff;
            padding-left: 30px;
            font-size: 25px;
            font-weight: bold;
        }
        .explore{
            margin-left: 80px;
            width: 130px;
           margin-top: 0px;
          
            /* background-color: red; */
        }
        .explore > ul > li {
            text-align: center;
            color: #ffffff;
            font-size: 17px;
            list-style-type: none;
        }
        .explore > h4 {
            text-align: center;
            padding-bottom: 15px;
            color: #ffffff;
            padding-left: 30px;
            font-size: 25px;
            font-weight: bold;
        }
        .contact {
            text-align: center;
            color: #ffffff;
           margin-top: 10px;
            width: 200px;
            margin-left: 60px;
            font-size: 12px;
            /* border: 2px solid red; */
        }
        .contact > h4 {
            text-align: center;
            padding-bottom: 12px;
            font-size: 25px;
            font-weight: bold;
        }
        .approved {
            border-bottom-width:290px ;
            border-bottom:1px solid ;
            border-bottom-color:  rgb(66, 66,66);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 15px;
            width: 86%;
            margin: auto;
            /* border: 1px solid red; */
            height: 150px;
        }
        .approved > div > img {
            /* background-color: blueviolet; */
            margin-left: 0px;
            width: 200px;
        }
        .address {
             margin: auto;
            width: 80%;
            /* margin-top: 10px; */
            /* border: 1px solid blue; */
            text-align: center;
            font-size: 15px;
            margin-right: 40px;
            color: #ffffff;
        }
        .copy {
            margin: auto;
            padding-top: 10px;
            padding-left: 10px;
            width: 86%;
            /* margin-left: 60px; */
            border-top: 1px solid;
            border-top-color:rgb(66, 66, 66) ;
            text-align: center;
            font-size: 15px;
            margin-right: 26px;
            color: #ffffff;
        }
    
        

    











}
   



    
    











