body {
    margin: 0px;
    padding: 0px;
}


.main{
    background-color: #ffffff;
    width: 100%;
    padding: 10px;
    position: sticky;
    border-bottom: 2px solid rgba(238, 238, 238, 1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 10;
    top: 0;
    left: 0;
    height: 80px;
}
.main >img{
    width: 220px;
}
.main >ul {
    margin-top: 20px;
    display: flex;
    width: 55%;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 15px;   
    
}
.main>ul>li:hover {
    text-decoration: underline;
    color: green;
}
#home {
    color: rgb(26, 117,187,1);
}
.blue{
    background-color: rgba(13, 109, 183,1);
    color: white;
    border-radius: 10px;
    border-color: rgb(13, 109,183,1);
    width: 10%;
    height: 35px;
}
.green{
    background-color: rgb(141, 198, 63,1);
    color: white;
    border-radius: 10px;
    border-color: rgb(141, 198,63,1);
    width: 10%;
    height: 35px;
    
}
.one{
    display: flex;
    margin-top: 30px;
    text-align: center;
    flex-direction: row;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 95%;
    
    
    
}
.top > img{
    width: 15px;

    
}
.top{
    height: 25px;
    padding-top:3px ;
    padding-left: 30px;
    background-color: rgba(238,238, 238,1);
    font-size: 12px;
}
.two {
    flex-direction: row;
    
    
}
.three {
    font-size: 2.1em;
    font-weight: bold;
}
#green {
    color: green;
}
.one >img {
    width: 75%;
    height: 600px;
    
}
#four {
    font-size: 20px;
}
h2 {
    font-size: 2em;
    text-align: start;
    padding-left: 40px;
}
.container {
    width: 100%;
    /* background-color: aqua; */
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;

}
.first {
    margin-right: 30px;
    background-color: rgba(240, 252, 219, 1);
    width: 200px;
    height: 130px;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
    
    
}
.second {
    margin-right: 30px;
    background-color: rgba(240, 252, 219, 1);
    width: 180px;
    height: 130px;
    padding: 20px;
    border-radius: 7px;
    text-align: center;
}
.third {
    margin-right: 30px;
    background-color: rgba(240, 252, 219, 1);
    width: 180px;
    height: 160px;
    padding: 20px;
    border-radius: 7px;
    text-align: center;

}
.forth {
    margin-right: 30px;
    background-color: rgba(240, 252, 219, 1);
    width: 180px;
    height: 160px;
    padding: 20px;
    border-radius: 7px;
    text-align: center;
}
.fifth {
    margin-right: 30px;
    background-color: rgba(240, 252, 219, 1);
    width: 180px;
    height: 130px;
    padding: 20px;
    border-radius: 7px;
    text-align: center;
}
.sixth {
    background-color: rgba(240, 252, 219, 1);
    width: 180px;
    height: 130px;
    padding: 20px;
    border-radius: 7px;
    text-align: center;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    text-transform: capitalize;
}

.main-botton {
    /* border: 2px solid red; */
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: 20px;
    height: 300px;
    padding-bottom:80px ;
    

}


.oola {
width: 350px;
background-color: rgb(141, 198, 63,1);
color: #ffffff;
font-size: 20px;
border-radius: 10px;
}
.up {
    
    background-image: url("images/saylani1.jpeg");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center;
    height:200px;
    padding-top: 120px;
    padding-left: 5px;
    color: #ffffff;
    
    
}
.mid {
    background-image: url("images/saylani2.jpeg");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center;
    height:200px;
    padding-top: 120px;
    padding-left: 5px;
    color: #ffffff;

}
.last {
    background-image: url("images/saylani3.jpeg");
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center;
    height:200px;
    padding-top: 120px;
    padding-left: 5px;
    color: #ffffff;
}



    



    
    











